body {
  margin: 40px auto;
  padding: 0 10px;
  max-width: 650px;
  line-height: 1.6;

  font-family: 'Source Code Pro', sans-serif;
  font-size: 16px;

  color: #444444;
  background-color: #EEEEEE;
}

h1, h2, h3 {
  line-height: 1.2
}

h2 {
  padding: 0px 0px 0px 7px;
  border-left: 4px solid #888888;
}

code, pre {
  font-family: 'Source Code Pro', monospace;
  background-color: #DDDDDD;
  border: 1px solid #666666;
  border-radius: 5px;
  padding: 0px 4px;
}

pre {
  line-height: 1.4;
}

a:link, a:visited {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

